- content_for :alert_messages do
  = alert_messages(flash)
.container
  .row.mt-5
    .col
      %button.btn.btn-primary.float-right{ type: 'button' } New Group
  %table.table.table-striped.mt-1
    %tbody
      %tr
        %th Name
      - @groups.each do |group|
        %tr
          %td
            = link_to group.name, group_path(group)
