- content_for :alert_messages do
  = alert_messages(flash)
.row
  .col
    = link_to 'New Group', new_group_path, class: 'btn btn-primary float-right'
%table.table.table-striped.mt-1
  %tbody
    %tr
      %th Name
    - @groups.each do |group|
      %tr
        %td
          = link_to group.name, group_path(group)
