- content_for :alert_messages do
  = alert_messages(flash, @group)
- title_class = @group.id ? 'col offset-1' : 'col offset-3'
- data_class = @group.id ? 'col-10 offset-1' : 'col-6 offset-3'
.row
  %div{ class: title_class }
    %h2 Group of Competitors
.row.mt-3
  %div{ class: data_class }
    = render 'form', group: @group, readonly: false
